html {
    display: flex;
    font-family: 'Segoe UI', sans-serif;
    font-size: 18pt;
    margin: 0;
    background-color: rgba(25, 3, 77,1);
    color: white;
}

body{
    width: 100%;
    align-items: center;
    margin: 0;
}

header{
    display: flex;
    height: 10vh;
    width: 100%;
    background-color: rgba(25, 3, 77,1);
    color: white;
    align-items: center;
    justify-content: center;
    font-size: 30pt;
}

.fullWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.teaZone{
    background-color: rgb(12, 2, 37);
    width: 50%;
}
