html {
    display: flex;
}

body{
    width: 100%;
    align-items: center;
}

.fullWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

nav{
    height: 5vh;
    
}

